<div class="tech-btm">
    <p>Teknoloji,yazılım ve diğer bloglar..</p>
    <form method="post">
        <input type="email" id="txtmail" placeholder="Email" required="" name="Mail">
        <input id="btn" type="submit" value="Abone OL">
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $("#btn").click(function () {
        let values = {
            Mail: $("#txtmail").val()
        };
        console.log("tıklandı")
        $.ajax({
            type: "post",
            url: "/NewsLetter/SubscribeMail/",
            data: values,
            success: function (func) {
                let result = jQuery.parseJSON(func);
            }
        });
    });
    $("#txtmail").click(function () {
        console.log("Tık")
    });
</script>
