
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
<br />
<button class="btn btn-primary" onclick="DownloadExcelBlogList">Excel Listesini indir</button>
<a href="/Admin/Blog/ExportStaticExcelBlogList" class="btn btn-primary">Excel Listesini indir</a>
<script>
    function DownloadExcelBlogList() {
        window.open("/Admin/Blog/ExportStaticExcelBlogList")
    }
</script>